<div class="container">

  <div class="jumbotron">
    <div class="text-center">
      <h1>{{ title }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div>
        <button type="button" class="btn btn-primary" (click)="clickRock()">Rock</button>
      </div>
    </div>

    <div class="col-md-4">
      <div>
        <button type="button" class="btn btn-primary" (click)="clickPaper()">Paper</button>
      </div>
    </div>

    <div class="col-md-4">
      <div>
        <button type="button" class="btn btn-primary" (click)="clickScissors()">Scissors</button>
      </div>
    </div>
  </div>

</div>
